<h2>Welcome to the SFL Manager</h2> <br>
<p>This is the cutting edge in SFL class management systems for universities</p>

<h3>Information for teachers:</h3>
<p>If you want to create a student account, email us at _____@cs.nuim.ie with proof of your job and we'll set you up with a code to register as a teacher.</p>
